<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid align-items-center">
    <a class="navbar-brand" href="/">ONE Marketplace</a>
    <div class="flex-grow-1"></div>
    <div class="input-group d-none d-lg-flex" style="max-width: 70%;">
      <input type="text" class="form-control" placeholder="Search for item..." aria-label="Search for item" aria-describedby="button-search" [(ngModel)]="searchQuery">
      <button class="btn btn-outline-secondary" type="button" id="button-search" (click)="search()"><i class="bi bi-search"></i></button>
    </div>
    <div class="flex-grow-1"></div>
    <div>
      <button class="navbar-toggler float-xs-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item d-flex d-lg-none">
            <div class="input-group my-2">
              <input type="text" class="form-control" placeholder="Search for item..." aria-label="Search for item" aria-describedby="button-search">
              <button class="btn btn-outline-secondary" type="button" id="button-search">Button</button>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-lg-flex">
            <a *ngIf="this.authService.isLoggedIn" class="nav-link" href="/advertisements/new" id="navbarDropdown" role="button" aria-expanded="false">
              <h3><i class="bi bi-plus"></i></h3>
            </a>
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <h3><i class="bi bi-person"></i></h3>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li *ngIf="!this.authService.isLoggedIn">
                <a class="dropdown-item" routerLink="login">Login</a>
              </li>
              <li *ngIf="!this.authService.isLoggedIn">
                <a class="dropdown-item" routerLink="register">Register</a>
              </li>
              <li *ngIf="this.authService.isLoggedIn">
                <button class="dropdown-item" style="border: 0px; background-color: transparent;" (click)="myProfile()">My Profile</button>
              </li>
              <li *ngIf="this.authService.isLoggedIn">
                <button class="dropdown-item" style="border: 0px; background-color: transparent;" (click)="logout()">Logout</button>
              </li>
            </ul>
          </li>
          
          <li *ngIf="!this.authService.isLoggedIn" class="nav-item d-flex d-md-none">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li *ngIf="!this.authService.isLoggedIn" class="nav-item d-flex d-md-none">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li *ngIf="this.authService.isLoggedIn" class="nav-item d-flex d-md-none">
            <a class="nav-link" href="/advertisements/new" style="border: 0px; background-color: transparent;">New Advertisement</a>
          </li>
          <li *ngIf="this.authService.isLoggedIn" class="nav-item d-flex d-md-none">
            <button class="nav-link" style="border: 0px; background-color: transparent;" (click)="myProfile()">My Profile</button>
          </li>
          <li *ngIf="this.authService.isLoggedIn" class="nav-item d-flex d-md-none">
            <button class="nav-link" style="border: 0px; background-color: transparent;" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 mb-4">
  <div class="container-fluid justify-content-center">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link" href="/">All</a>
        </li>
        <li *ngFor="let category of categories">
          <a class="nav-link" href="/categories/{{ category._id }}">{{ category.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>