<div class="submit-form m-4">
  <div class="mb-3 row">
    <label for="register-firstname" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="register-firstname" [(ngModel)]="register.firstName" />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="register-lastname" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="register-lastname" [(ngModel)]="register.lastName" />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="register-email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="register-email" [(ngModel)]="register.email" />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="register-username" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="register-username" [(ngModel)]="register.username" />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="register-password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="register-password" [(ngModel)]="register.password" />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="register-confirmpassword" class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="register-confirmpassword" [(ngModel)]="register.confirmPassword" />
    </div>
  </div>
  <button *ngIf="!submitting" type="button" class="btn btn-primary my-4" (click)="registerAuth()">Register</button>
</div>