<button type="button" class="btn btn-primary my-2" routerLink="/advertisements/new">New Advertisement</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Location</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let advertisement of advertisements"
    >
      <td>{{ advertisement._id }}</td>
      <td>{{ advertisement.title }}</td>
      <td>{{ advertisement.description }}</td>
      <td>{{ advertisement.location }}</td>
      <td>{{ advertisement.price }}</td>
      <td>
        <button type="button" class="btn btn-primary" [routerLink]="generateEditUrl(advertisement)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteAdvertisement(advertisement)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>